OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Assistant Cloud API URL -- sign up on cloud.assistant-ui.com
# NEXT_PUBLIC_ASSISTANT_BASE_URL=

# Assistant Cloud API Key
# ASSISTANT_API_KEY=
