@theme inline {
  @keyframes shimmer {
    0% {
      background-position: 150% 0;
    }
    100% {
      background-position: -50% 0;
    }
  }
}

@utility shimmer {
  --shimmer-speed: 100;
  --shimmer-width-x: 200;
  --shimmer-color: black;
  --shimmer-spread: 6ch;
  --shimmer-angle: 90deg;
  background:
    linear-gradient(
        var(--shimmer-angle),
        transparent calc(50% - var(--shimmer-spread) * 0.5),
        color-mix(in oklch, currentColor, var(--shimmer-color) 90%) 50%,
        transparent calc(50% + var(--shimmer-spread) * 0.5)
      )
      0 0 / 200% 100% no-repeat,
    linear-gradient(currentColor, currentColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer
    calc((var(--shimmer-width-x) * 2) / var(--shimmer-speed) * 1s) infinite
    linear;

  @variant dark {
    --shimmer-color: white;
  }
}

@utility shimmer-speed-* {
  --shimmer-speed: --value(number);
}

@utility shimmer-color-* {
  --shimmer-color: --value(--color-*);
}

@utility shimmer-spread-* {
  --shimmer-spread: --spacing(--value(integer));
}

@utility shimmer-angle-* {
  --shimmer-angle: calc(--value(number) * 1deg);
}
