/*
  Theme transition styles adapted from https://github.com/rudrodip/theme-toggle-effect
*/

@layer base {
  @keyframes scale {
    to {
      mask-size: 350vmax;
    }
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-new(root) {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cfilter id='blur' x='-100%25' y='-100%25' width='400%25' height='400%25'%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3C/filter%3E%3C/defs%3E%3Ccircle cx='100' cy='0' r='40' fill='white' filter='url(%23blur)'/%3E%3C/svg%3E")
      calc(100% + 10px) top / 0% no-repeat;
    mask-origin: content-box;
    animation: scale 0.6s ease-in-out;
    animation-fill-mode: forwards;
  }

  ::view-transition-old(root) {
    z-index: -1;
  }

  .dark::view-transition-new(root) {
    z-index: 1;
  }
}
